<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKRijFgRstNmJ5VRHaktH1hm8mgmeqxXw</string>
	<key>GCM_SENDER_ID</key>
	<string>316326972081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uitraning</string>
	<key>PROJECT_ID</key>
	<string>testmassage-30973</string>
	<key>STORAGE_BUCKET</key>
	<string>testmassage-30973.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316326972081:ios:c7aa7a9526f8d81f417090</string>
</dict>
</plist>